/*With small-caps variant*/
#with  {
    font-family: serif;
    font-size: 2rem;
    font-weight: normal;
    font-variant: small-caps;
}
/*Without small-caps variant*/
#without {
    font-family: serif;
    font-size: 2rem;
    font-weight: normal;
    /*font-variant: small-caps;*/
}