    table {
        width: 100%;
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: rgba(128, 128, 128, .49);
    }

    tr:nth-child(odd) {
        background-color: rgba(128, 128, 128, .19);
    }


    /* Great for making sheets easy to read*/

