#two {
    position: relative;
    top: 5px;
    left: 5px;
    height: 400px;
    width: 400px;
    background-color: coral;
    border: solid red;
}

#one {
    height: 100px;
    width: 100px;
    background-color: deeppink;
    border: solid red;
    position: absolute;
    top: 200px;
    left: 200px;
}