html, body, div{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*formatting*/
    /*border: 10px solid lightyellow;*/
    background-image: url("eggs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: lightyellow;
    font-size: 4rem;
    text-align: center;
}

@media (min-width: 400px) and (max-width: 800px) {
    #nav {
        padding: 0;
        border: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        background-color: grey;
    }
    a {
        display: block;
        text-align: center;
        border-top: 1px solid lightyellow;
        border-bottom: 1px solid lightyellow;
    }
    .nav_link {
        text-decoration: none;
        padding: 20px 0;
        color: lightyellow;
    }
}

@media (min-width: 800px) {
    #nav {
        padding: 20px;
        border: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        background-color: grey;
        /*min-height: 10px;*/
    }
    a {
        padding: 20px;
    }
    .nav_link {
        text-decoration: none;
        padding: 10px;
        color: lightyellow;
    }
}